<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseModal()"
        ><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear" id="delete-trigger" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="delete-trigger" #popover>
      <ng-template>
        <ion-title class="ion-padding"> Are you sure about that? </ion-title>
        <div
          class="ion-padding"
          style="display: flex; justify-content: space-between; padding-top: 0"
        >
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="popover.dismiss()"
              >Cancel</ion-button
            >
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button
              [strong]="true"
              color="danger"
              (click)="popover.dismiss()"
              (click)="onDeleteStudent(student!)"
              >Confirm</ion-button
            >
          </ion-buttons>
        </div>
      </ng-template>
    </ion-popover>
    <ion-title>{{ student?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-student-data [student]="student!"></app-student-data>
</ion-content>
