<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Students </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-input
        placeholder="Student Name"
        type="text"
        #searchInput
        (ionInput)="filter(searchInput.value)"
      >
        <ion-icon slot="start" size="small" name="person"></ion-icon>
        <ion-icon slot="end" size="small" name="search"></ion-icon>
      </ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ng-container *ngIf="students$ | async as students">
          @if (students.length === 0) {
          <ion-item>
            <ion-label>No students found :(</ion-label>
          </ion-item>
          } @else {
          <ion-item
            *ngFor="let student of students$ | async"
            [button]="true"
            (click)="openProfile(student)"
            ><ion-label>{{ student.name }}</ion-label>
            <ion-chip *ngIf="student.class">
              <ion-icon name="school"></ion-icon>
              <ion-label>{{ student.class.name }}</ion-label>
            </ion-chip>
          </ion-item>
          }
        </ng-container>

        <ion-modal #modal>
          <ng-template>
            <app-student-profile
              (closeModal)="dismissModal(modal)"
              (deleteStudent)="deleteStudent(selectedStudent)"
              [student]="selectedStudent"
            ></app-student-profile
          ></ng-template>
        </ion-modal>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" id="newStudent">
      <ion-icon size="small" name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="newStudent" #newStudentModal>
    <ng-template>
      <ion-content>
        <form class="ion-padding">
          <ion-input
            label="Student Name"
            label-placement="stacked"
            fill="outline"
            placeholder="Enter student name"
            #inputName
            type="text"
            maxlength="40"
            minlenght="2"
            required
          ></ion-input>
          <ion-input
            label="Birthdate"
            type="date"
            label-placement="stacked"
            fill="outline"
            placeholder="dd/mm/yyyy"
            #inputBirthdate
            required
          ></ion-input>
          <div
            class="ion-padding"
            style="display: flex; justify-content: space-between"
          >
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="dismissModal(newStudentModal)"
                >Cancel</ion-button
              >
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button
                [strong]="true"
                (click)="
                  newStudent(
                    newStudentModal,
                    inputName.value,
                    inputBirthdate.value
                  )
                "
                >Confirm</ion-button
              >
            </ion-buttons>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
