ion-header {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.select-wrapper {
  display: flex;
  align-items: center;
}

.toolbar {
  display: inline-flex!important;
  align-items: center!important;
}

ion-title {
  font-size: 1rem;
}

app-student-profile {
  ion-spinner {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ion-modal {
  --height: 40%;
  --width: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
} */
/*
.addStudentModal {
  --height: 20%;
  --width: 80%;
  --border-radius: 10px;
  --background: rgba(0, 0, 0, 0.3);
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
} */
