<ion-header>
  <ion-toolbar>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (!classes) {
  <div class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  } @else{
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" *ngFor="let class of classes">
        <ion-card id="{{ class.id }}">
          <ion-card-header
            ><strong>{{ class.name }}</strong></ion-card-header
          ></ion-card
        >
        <ion-modal trigger="{{ class.id }}" #modal>
          <ng-template>
            <app-class-students
              (closeModal)="closeModal(modal)"
              (deleteClass)="deleteClass($event)"
              style="height: 100%"
              [class]="class"
            ></app-class-students
          ></ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <ion-modal
      trigger="addClassTrigger"
      #modal
      class="addClassModal"
      #addClassModal
    >
      <ng-template>
        <div
          class="ion-padding"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
          "
        >
          <ion-input
            label="Class Name"
            label-placement="stacked"
            fill="outline"
            placeholder="Enter class name"
            #inputClassName
            type="text"
            required
          ></ion-input>
          <div
            class="ion-padding"
            style="display: flex; justify-content: space-between"
          >
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="closeModal(addClassModal)"
                >Cancel</ion-button
              >
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button
                (click)="onAddClass(addClassModal, inputClassName.value)"
                [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" id="addClassTrigger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>
