<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Alunos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header color="dark"> </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item [button]="true">
          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
