<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Alunos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header color="dark"> </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item [button]="true">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
            />
          </ion-avatar>
          <ion-label>João Paulo</ion-label>
          <ion-note slot="end">Turma: 1</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
