<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Turmas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header color="dark"> </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item [button]="true">
        <ion-label>Turma 1</ion-label>
        <ion-note slot="end">Alunos: 6</ion-note>
      </ion-item>

      <ion-item [button]="true">
        <ion-label>Turma 2</ion-label>
        <ion-note slot="end">Alunos: 7</ion-note>
      </ion-item>

      <ion-item [button]="true">
        <ion-label>Turma 3</ion-label>
        <ion-note slot="end">Alunos: 8</ion-note>
      </ion-item>

      <ion-item [button]="true" lines="none">
        <ion-label>Turma 4</ion-label>
        <ion-note slot="end">Alunos: 5</ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
