.bookSelect {
  --highlight-color-focused: none;
  background-color: transparent;
}

.cardLabel {
  margin-left: 10px
}

.studentCard {
  margin: 1px 15px 5px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}

ion-select::part(icon) {
  display: none;
}

label .toggle-wrapper{
  justify-content: flex-end!important;
}

.bookList {
  height: 5vh;
  align-self: flex-start;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 0;
  --ion-item-background: transparent;
}

.select-wrapper {
  display: flex;
  align-items: center;
}

ion-select {
  --highlight-color-focused: none;
  background-color: transparent;
}

ion-badge {
  --background: rgb(214, 132, 94);
  font-size: 11px;
  margin-right: 1.4rem;
}

ion-title {
  font-size: 1rem;
}

ion-modal {
  --height: 40%;
  --width: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

