<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseModal()"
        ><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="edit = !edit">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button fill="clear" id="delete-trigger" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="delete-trigger" #popover>
      <ng-template>
        <ion-title class="ion-padding"> Are you sure about that? </ion-title>
        <div
          class="ion-padding"
          style="display: flex; justify-content: space-between; padding-top: 0"
        >
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="popover.dismiss()"
              >Cancel</ion-button
            >
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button
              [strong]="true"
              color="danger"
              (click)="popover.dismiss()"
              >Confirm</ion-button
            >
          </ion-buttons>
        </div>
      </ng-template>
    </ion-popover>
    <ion-title
      ><ion-input readonly="{{ edit }}" [value]="book().name"></ion-input
    ></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  @for (lesson of book().lessons; track lesson.id) {
  <ion-card>
    <ion-card-header style="padding-bottom: 0">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div style="display: flex; align-items: center">
          <ion-icon slot="start" name="book"></ion-icon>
          <ion-input
            #lessonName
            style="margin-left: 10px"
            type="text"
            disabled="{{ edit }}"
            (ionBlur)="onEditLesson(lesson, lessonName.value)"
            [value]="lesson.name"
          ></ion-input>
        </div>
        <ion-button
          size="small"
          slot="end"
          fill="clear"
          (click)="addTopic(lesson)"
        >
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let topic of lesson.topics">
        <ion-item>
          <ion-input
            #topicName
            type="text"
            slot="start"
            disabled="{{ edit }}"
            (ionBlur)="onEditTopic(topic, topicName.value)"
            [value]="topic.name"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  }
  <ion-button
    size="large"
    fill="clear"
    style="display: flex; justify-content: center; align-items: center"
    (click)="addLesson()"
  >
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
