<ion-header>
  <ion-toolbar>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" *ngFor="let class of classes">
        <ion-card id="{{ class.id }}">
          <ion-card-header
            ><strong>{{ class.name }}</strong></ion-card-header
          ></ion-card
        >
        <ion-modal trigger="{{ class.id }}" #modal>
          <ng-template
            ><app-class-students
              (closeModal)="closeModal(modal)"
              style="height: 100%"
              [students]="class.students"
              [class]="class"
              [books]="books"
            ></app-class-students
          ></ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button size="small" id="teste">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-modal
      trigger="teste"
      #modal
      style="height: 50%; width: 50%; background-color: white !important"
    >
      <ng-template>
        <h1>Teste</h1>
      </ng-template>
    </ion-modal>
  </ion-grid>
</ion-content>
